@model IEnumerable<AtomHealth.Models.Atom>
    <link rel="stylesheet" href="~/css/layoutpage.css" />
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWithoutBanner.cshtml";
}

<h1 style="color:#42a5ff; font-size:large; font-weight:bold">List of Patients</h1>

<table id="customers">
    <tr>
        <th>
            Firstname
        </th>
        <th>
            Middlename
        </th>
        <th>
            Lastname
        </th>
        <th>
            Healthcare ID
        </th>
        <th>
            Phone
        </th>
        <th>
            Email
        </th>
        <th>
            Sex
        </th>
        <th>
            Height(inch)
        </th>
        <th>
            Weight(lbs)
        </th>
        <th>
            Status
        </th>
        <th>
            Emergency Cntact No.
        </th>
        <th>
            Relationship
        </th>
        <th>
            In medication now?
        </th>
        <th>
            Medications
        </th>
       
        <th>
            Password
        </th>
        <th>
            Registration Date
        </th>
        <th>
            Date of Birth
        </th>
        <th>
            Registered by
        </th>
        <th>
            Diseases
        </th>

        <th></th>
    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.middlename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.healthid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ismarried)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emergencyphone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.relationship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inmedicationnow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medication)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.registrationdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.registeredby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diseases)
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.atomid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.atomid">Details</a>
                @*|
                    <a asp-action="Delete" asp-route-id="@item.atomid">Delete</a>*@
            </td>
        </tr>
    }

</table>
